[package]
name = "untitled"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
eframe = "0.24.1"
egui = "0.24.1"
env_logger = "0.10.0"
egui_extras = "0.23.0"